body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow:hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#map{
    height: 250px;
    width: 250px;
}
.breweryBeerLogos{
    height: 25px;
    width: 25px;
}
.addBeerLogo{
    height: 30px;
    width: 30px;
}
.addBreweryLogo{
    height: 100px;
    width: 100px;
}
.middleNavButton{
    border-right-color:white;
    border-left-color: white;
}

@keyframes confirmShow {
    from{
        background-color:red;
    }to{
         background-color: white;
     }
}

#confirmPunchPage{
    top:100%;
    position: absolute;
    background-color: red;
}

#confirmPunchPage.animate-show {
  animation: 0.5s confirmShow;
}
/*#confirmPunchPage{
    animation: 0.5s confirmShow;
}*/

/*.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}*/
