body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:50px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    overflow:hidden;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.nonAmHeaderH3{
    text-align: center;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*start home screen*/
#homeScreen{
    background-image: url("/Images/logo03_background.jpg");
    background-size:cover;
    height: 100vh !important;
}
.logoResize{
    width:375px;
    height: 427px;
}
.homeButtons{
    background-color:cornsilk !important;
}
.homeButtons:first-of-type{
    margin-right:24px !important;
}
/*end home screen*/


.breweryBeerLogos{
    height: 200px;
    width: 200px;
}
.addBeerLogo{
    height: 30px;
    width: 30px;
    display:inline-block;
}
.addBreweryLogo{
    height: 100px;
    width: 100px;
}

/*start bottom nav styling*/
.bottomNav{
    z-index: 102;
}
.bottomNav div{
    line-height: 50px;
}
.bottomNav div a{
    font-size: 1.6em;
    color: white;

}
/*end bottom nav styling*/

/*start add punch section*/
#punchSection{
    height: 250px;
    position: relative;
    border-top: 1px solid black;
}
.addPunchContent{
    text-align:center;
    font-weight:bold;
}
.addPunchLogo{
    width: 200px;
    height: 200px;
}
.green{
    background-color: forestgreen !important;
    margin-bottom:30px !important;
    color: white !important;
}
.spacing{
    margin-top:30px;
}
.punchButtons{
    width:100%;
    font-size:1.5em;
    font-weight:bold !important;
}
.scrollSection{
    overflow: scroll !important;
    height: 462px;
}
.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  left:-100%;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    left:0;
}


.punchIcons{
    display:inline-block;
}

.punchStack{
  width: 300px;
  height: 250px;
  position: relative;
  max-width: 100%;
}
.punchStack-queue{
  transition: all 1s;
}
.punchStack-queue .punchcard{
  transform-origin: 50% -65%;
  max-width: 100%;
  border: 1px solid black;
  box-shadow: 1px -1px 4px black;
}
.punchStack .punchcard{
  position: absolute;
  transition: 1s;
  background-color: white;
  /*height: 500px;*/
  width: 100%;
}
.punchStack-queue .punchcard:nth-child(2){
  position: relative;
  /*height: 500px;*/
}
.punchStack-queue.active{
  transform: scale(0.9);
}
.punchStack-queue.active .punchcard:first-child{
  transform: scale(0.7);
}
/*.punchStack-queue.active .punchcard:nth-child(2){
  transform: scale(0.8);
  background-color: green;
}
.punchStack-queue.active .punchcard:nth-child(3){
  background-color: red;
  transform: scale(0.9);
}*/
.purchasedBeerLogo{
    height: 25px;
    width: 25px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align:center;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align:center;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align:center;
}
:-moz-placeholder { /* Firefox 18- */
  text-align:center;
}
.inputBottomMargin{
    margin-bottom: 0px;
}

/*start brewery news*/
.BNsubHeaders{
    background-color:darkgray;
    color: darkgoldenrod;
    font-size: 20px !important;
}