body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow:hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#map{
    position: relative;
    height: 250px;
    width: 250px;
}
.breweryBeerLogos{
    height: 25px;
    width: 25px;
}
.addBeerLogo{
    height: 30px;
    width: 30px;
}
.addBreweryLogo{
    height: 100px;
    width: 100px;
}
.middleNavButton{
    border-right-color:white;
    border-left-color: white;
}

/*@keyframes confirmShow {
    from{
        top: 100%;
    }to{
         top: 0%;
     }
}*/

/*#confirmPunchPage{
    top:100%;
    position: absolute;
    position: relative;
}*/

/*#confirmPunchPage.animate-show {
  animation: 2s confirmShow;
}*/
/*#confirmPunchPage{
    animation: 0.5s confirmShow;
}*/

/*.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}*/
.mapSearchTools{
    position: fixed;
    top:60px;
    width: 100%;
    text-align: center;
    z-index:100;
}
.bottomNav{
    z-index: 102;
}
.bottomNav div{
    line-height: 50px;
}
.bottomNav div a{
    font-size: 1.3em;
    color: white;
}
.sideNav{
    z-index:101;
}
