    <!-- section to show only if person not at brewery based on coordinates -->
<article ng-hide="AddPunchCtrl.atBrewery">
    Oh No, looks like we couldn't find a brewery that you are currently located at. 

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <md-button ng-click="AddPunchCtrl.goToNearbyBreweries()" class="md-raised">Nearby Breweries</md-button>
            </div>
        </div>
    </div>
</article>


<!-- article to show if coordinates matched a brewery in db -->
<article ng-show="AddPunchCtrl.atBrewery" id="punchSection" ng-switch on="AddPunchCtrl.punchStatus" ng-cloak>

    <h4 class="addPunchContent">ADD A PUNCH?</h4>
    
    <!--brewery info-->
    <section layout="column" layout-align="center center" class="animate-switch spacing" ng-switch-when="breweries">
        <img class="addPunchLogo" src="http://{{AddPunchCtrl.currentBreweryObject.breweryLogo}}" alt="{{AddPunchCtrl.currentBreweryObject.breweryName}}" />
        <h3>{{AddPunchCtrl.currentBreweryObject.breweryName}}</h3>
        <h4>{{AddPunchCtrl.currentBreweryObject.breweryAddress}}</h4>
        <h4>{{AddPunchCtrl.currentBreweryObject.breweryCity}}, {{AddPunchCtrl.currentBreweryObject.breweryState}} {{AddPunchCtrl.currentBreweryObject.breweryZip}}</h4>

        <div class="spacing" layout="column" layout-align="center center">
            <md-button ng-click="AddPunchCtrl.getBreweryBeers()" class="md-raised green punchButtons">Add Punch</md-button>
            <md-button ng-click="AddPunchCtrl.goToNearbyBreweries()" class="md-raised md-warn spacing punchButtons">Nope, Wrong Brewery</md-button>
        </div>
    </section>

    <!-- selected brewery beers -->
    <section class="animate-switch" ng-switch-when="selectBeer">
        <h3>Beers on Tap for {{AddPunchCtrl.currentBreweryObject.breweryName}}</h3>
        <span ng-click="AddPunchCtrl.CloseConfirm()">Back to breweries</span>
        <md-list flex class="mapSwitch">
            <md-list-item aria-label="" class="md-3-line" ng-repeat="beer in AddPunchCtrl.currentBreweryObject.breweryBeers" ng-click="AddPunchCtrl.confirmPunch(beer, AddPunchCtrl.currentBreweryObject)">
                <img src="http://{{beer.beerLogo}}" class="md-avatar" alt="{{beer.beerName}}" />
                <div class="md-list-item-text" layout="column">
                    <h4>{{beer.beerName}}</h4>
                    <p>{{beer.beerType}}</p>
                </div>
                <span>></span>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </section>

    <!-- add punch layout for specific beer -->
    <div id="confirmPunchPage" class="animate-switch" ng-switch-when="confirmation">
        <h3>Confirm Punch</h3>
        <section id="confirmPunchInfo">
            <img class="breweryBeerLogos" src="http://{{AddPunchCtrl.punchInfo.beer.beerLogo}}" alt="{{AddPunchCtrl.punchInfo.beer.beerName}}" />
            <h3>{{AddPunchCtrl.punchInfo.beer.beerName}}</h3>
            <h5>{{AddPunchCtrl.punchInfo.brewery.breweryName}}</h5>
        </section>
        <p ng-show="AddPunchCtrl.confirming">Enter Brewery Pin</p>
        <md-input-container ng-show="AddPunchCtrl.confirm">
            <label>Brewery Pin</label>
            <input ng-model="AddPunchCtrl.pin" type="text" />
        </md-input-container>
        <h4 ng-show="AddPunchCtrl.confirmed">Punch Added!</h4>
        <h4 ng-show="AddPunchCtrl.confirmDeclined">Wrong Pin!</h4>
        <div>
            <md-button ng-show="AddPunchCtrl.confirm" ng-click="AddPunchCtrl.addPunch(AddPunchCtrl.punchInfo.beer, AddPunchCtrl.punchInfo.brewery)">Add Punch</md-button>
            <md-button ng-show="AddPunchCtrl.confirm" ng-click="AddPunchCtrl.CloseConfirm()">Cancel</md-button>
            <md-button ng-show="AddPunchCtrl.confirmed" ng-click="AddPunchCtrl.CloseConfirm()">Close</md-button>
        </div>

    </div>
</article>

<!-- bottom nav include -->
<div ng-include="'/Templates/bottomnav.html'"></div>

