    <!-- section to show only if person not at brewery based on coordinates -->
<article ng-hide="AddPunchCtrl.atBrewery">
    Oh No, looks like we couldn't find a brewery that you are currently located at. 

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <md-button ng-click="AddPunchCtrl.goToNearbyBreweries()" class="md-raised">Nearby Breweries</md-button>
            </div>
        </div>
    </div>
</article>


<!-- article to show if coordinates matched a brewery in db -->
<article ng-show="AddPunchCtrl.atBrewery" id="punchSection" ng-switch on="AddPunchCtrl.punchStatus" ng-cloak>
    
    <!--brewery info-->
    <section layout="column" layout-align="center center" class="animate-switch addPunchSections" ng-switch-when="breweries">
        <h4 class="addPunchContent">ARE YOU AT</h4>
        <img class="addPunchLogo spacing" src="http://{{AddPunchCtrl.currentBreweryObject.breweryLogo}}" alt="{{AddPunchCtrl.currentBreweryObject.breweryName}}" />
        <h3>{{AddPunchCtrl.currentBreweryObject.breweryName}}</h3>
        <h4>{{AddPunchCtrl.currentBreweryObject.breweryAddress}}</h4>
        <h4>{{AddPunchCtrl.currentBreweryObject.breweryCity}}, {{AddPunchCtrl.currentBreweryObject.breweryState}} {{AddPunchCtrl.currentBreweryObject.breweryZip}}</h4>

        <div class="spacing" layout="column" layout-align="center center">
            <md-button ng-click="AddPunchCtrl.getBreweryBeers()" class="md-raised green punchButtons">Add Punch</md-button>
            <md-button ng-click="AddPunchCtrl.goToNearbyBreweries()" class="md-raised md-warn spacing punchButtons">Nope, Wrong Brewery</md-button>
        </div>
    </section>

    <!-- selected brewery beers -->
    <section class="animate-switch" ng-switch-when="selectBeer">
        <md-button ng-click="AddPunchCtrl.CloseConfirm()" class="md-raised"><i class="fa fa-chevron-left" aria-hidden="true"></i></span> brewery</md-button>
        <h4 class="text-center">{{AddPunchCtrl.currentBreweryObject.breweryName}}</h4>
        <h3 class="text-center">BEERS ON TAP</h3>
        <md-list flex class="addPunchBeers scrollSection">
            <md-list-item aria-label="" class="md-3-line" ng-repeat="beer in AddPunchCtrl.currentBreweryObject.breweryBeers" ng-click="AddPunchCtrl.confirmPunch(beer, AddPunchCtrl.currentBreweryObject)">
                <img src="http://{{beer.beerLogo}}" class="md-avatar" alt="{{beer.beerName}}" />
                <div class="md-list-item-text" layout="column">
                    <h4>{{beer.beerName}}</h4>
                    <p>{{beer.beerType}}</p>
                </div>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <md-divider></md-divider>
         </md-list-item>
        </md-list>
    </section>

    <!-- add punch layout for specific beer -->
    <div id="confirmPunchPage" class="animate-switch" ng-switch-when="confirmation">
      <md-button ng-click="AddPunchCtrl.toAddPunchBeers()" class="md-raised"><i class="fa fa-chevron-left" aria-hidden="true"></i></span> Beers</md-button>       
        <section layout="column" layout-align="center center" id="confirmPunchInfo">
            <h2>Confirm Punch</h2>
            <img class="breweryBeerLogos" src="http://{{AddPunchCtrl.punchInfo.beer.beerLogo}}" alt="{{AddPunchCtrl.punchInfo.beer.beerName}}" />
            <h2>{{AddPunchCtrl.punchInfo.beer.beerName}}</h2>
            <h3>{{AddPunchCtrl.punchInfo.brewery.breweryName}}</h3>

            <p ng-show="AddPunchCtrl.confirming">Enter Brewery Pin</p>

            <md-input-container md-no-float class="md-block" ng-show="AddPunchCtrl.confirm">
                <input class="searchInputs" ng-model="AddPunchCtrl.pin" placeholder="Enter Brewery Pin" type="number">
            </md-input-container> 

            <h4 ng-show="AddPunchCtrl.confirmed">Punch Added!</h4>
            <h4 ng-show="AddPunchCtrl.confirmDeclined">Wrong Pin!</h4>
            <div>
                <md-button ng-show="AddPunchCtrl.confirm" ng-click="AddPunchCtrl.addPunch(AddPunchCtrl.punchInfo.beer, AddPunchCtrl.punchInfo.brewery)" class="md-raised md-warn green">Add Punch</md-button>
                <md-button ng-show="AddPunchCtrl.confirm" ng-click="AddPunchCtrl.CloseConfirm()" class="md-raised md-warn spacing">Cancel</md-button>
                <md-button ng-show="AddPunchCtrl.confirmed" ng-click="AddPunchCtrl.CloseConfirm()" class="md-raised md-warn spacing">Close</md-button>
            </div>
        </section>
    </div>
</article>

<!-- bottom nav include -->
<div ng-include="'/Templates/bottomnav.html'"></div>

