<footer class="navbar navbar-inverse navbar-fixed-bottom bottomNav">
    <div class="container-fluid">
        <div class="row">
           <div class="col-md-4 col-sm-4 col-xs-4 text-center">
               <a href="/#/map"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
           </div>
           <div class="col-md-4 col-sm-4 col-xs-4 middleNavButton text-center">
               <a href="/#/rewards"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></a>
           </div>
           <div class="col-md-4 col-sm-4 col-xs-4 text-center">
               <a href="/#/purchases"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span></a>
           </div>
        </div>
    </div>
</footer>
