<footer class="navbar navbar-inverse navbar-fixed-bottom bottomNav">
    <div class="container-fluid">
        <div class="row">
           <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                <a href="/#/breweryNews"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
           </div>          
           <div class="col-md-3 col-sm-3 col-xs-3 text-center">
               <a href="/#/nearbyBreweries"><i class="fa fa-map-o" aria-hidden="true"></i></a>
           </div>
           <div class="col-md-3 col-sm-3 col-xs-3 text-center">
               <a href="/#/rewards"><i class="fa fa-star-o" aria-hidden="true"></i></a>
           </div>
           <div class="col-md-3 col-sm-3 col-xs-3 text-center">
               <a href="/#/purchases"><i class="fa fa-beer" aria-hidden="true"></i></a>
           </div>
        </div>
    </div>
</footer>
