<footer class="navbar navbar-inverse navbar-fixed-bottom bottomNav">
    <div class="container-fluid">
        <div class="row">
           <div class="col-md-4 col-sm-4 col-xs-4 text-center">
               <a href="/#/map"><i class="fa fa-map-o" aria-hidden="true"></i></a>
           </div>
           <div class="col-md-4 col-sm-4 col-xs-4 middleNavButton text-center">
               <a href="/#/rewards"><i class="fa fa-star-o" aria-hidden="true"></i></a>
           </div>
           <div class="col-md-4 col-sm-4 col-xs-4 text-center">
               <a href="/#/purchases"><i class="fa fa-beer" aria-hidden="true"></i></a>
           </div>
        </div>
    </div>
</footer>
