<h3 class="nonAmHeaderH3">BREWS NEWS</h3>
<h5 ng-if="BrewNewsCtrl.offers.length == 0">NO UPCOMING OFFERS</h5>
<md-content style="height: 452px">
    <section ng-repeat="offer in BrewNewsCtrl.offers" class="brewNewsLists">
        <md-subheader class="BNsubHeaders">{{offer.newsDate}}</md-subheader>
        <md-list class="brewNewsLists" flex>
            <md-list-item aria-label="" class="md-3-line" ng-repeat="feed in offer.newsFeed">
                <img src="http://{{feed.breweryLogo}}" class="md-avatar" alt="{{feed.breweryName}}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ feed.breweryName }}</h3>
                    <p>{{feed.breweryNews}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </section>
</md-content>


<div ng-include="'/Templates/bottomnav.html'"></div>
