<article layout="column" layout-align="center center" class="punchStack punchStack-queue">
    <md-card class="punchcard" ng-repeat="brewery in RewardsCtrl.punchcardData | orderBy:'brewery_name' | filter:searchPunchcards">
        <img class="punchcardBg" src="http://{{brewery.breweryInfo.breweryLogo}}"/>
        <md-card-header>
            <md-card-avatar>
                <md-icon class="md-avatar-icon" md-svg-icon="http://{{brewery.breweryInfo.breweryLogo}}"></md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{brewery.breweryInfo.breweryName}}</span>
                <span class="md-subhead" ng-if="brewery.numberPurchased == 8">Redeemable</span>
            </md-card-header-text>
        </md-card-header>
            <md-card-title-text class="cardTitle">
                <span class="md-headline">{{brewery.breweryInfo.breweryName}}</span>
            </md-card-title-text>
        <md-card-content>
            <section layout="row" layout-align="center center" layout-wrap>
                <div ng-repeat="i in [1,2,3,4,5,6,7,8]">
                    <div ng-if="i <= brewery.numberPurchased" class="holePunch"></div>
                    <img class="addBeerLogo" src="http://{{brewery.breweryInfo.breweryLogo}}" />
                </div>
            </section>
        </md-card-content>
        <md-button class="md-raised redeemButton" ng-show="{{brewery.numberPurchased >= 8}}" ng-click="RewardsCtrl.redeem(brewery)">REDEEM</md-button>
    </md-card>
</article>
<div ng-include="'/Templates/bottomnav.html'"></div>

